/* Outside of form */
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.heroImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    position: sticky;
    color:rgb(232, 222, 210);
    height: 4rem;
    width: 100%;
    background-color: rgba(23, 16, 16, 0.7);
    transition: 0.5s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(17, 16, 16);
}
header:hover {
    background-color: rgba(23, 16, 16, 0.8);
    transition: 0.5s;
}
header > div {
    min-width: 4rem;
}
a {
    text-decoration: none;
    color: rgb(232, 222, 210);
    transition: 0.5s;
}
a:hover {
    color: rgb(179, 54, 54);
    transition: 0.5s;
}
#logo {
    max-width: 4rem;
    max-height: 4rem;
}
footer {
    font-size: 0.6rem;
    height: 3rem;
    margin: auto 0;
    background-color: rgb(16, 15, 15);
    color: rgb(232, 222, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
}
.content {
    padding: 0.5rem;
    color: rgb(232, 222, 210, 0.7);
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}
#text1 {
    font-size: 1.5rem;
}
/* Inner form */
.form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: rgba(23, 16, 16, 0.7);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(17, 16, 16);
    width: 27rem;
    height: 26rem;
    min-width: 15rem;
    min-height: 14rem;
    transition: 0.5s;
    padding-top: 1rem;
}
.form:hover {
    background-color: rgba(23, 16, 16, 0.8);
    transition: 0.5s;
}
#corner {
    position: absolute;
    width: 10rem;
    top: 4.3rem;
    left: 0.2rem;
}
.basicList, .radio {
    list-style-type: none;
}
ul {
    display: flex;
    flex-wrap: wrap;
    border: none;
    gap: 1rem;
}
input {
    background-color: rgb(46, 44, 44, 0.8);
    border: none;
    height: 2rem;
    width: 10.5rem;
    color: rgb(232, 222, 210);
}
.btn {
    background-color: rgba(58, 115, 76, 0.8);
    color: rgb(232, 222, 210);
    width: 12rem;
    height: 4rem;
    font-size: 1.2rem;
    transition: 0.5s;
    border: 1px solid green;
}
.btn:hover {
    background-color: rgba(48, 94, 63, 0.8);
    transition: 0.5s;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label1, .label2 {
    color: rgb(232, 222, 210);
    font-size: 0.6rem;
    max-width: 20rem;
}
.rad1, .rad2 {
    display: flex;
    text-align: justify;
    gap: 1rem;
}
/* Valid check */
.input:valid {
    background-color: rgba(58, 115, 76, 0.2);
}
.input:invalid:focus {
    background-color: rgba(115, 66, 58, 0.2);
}
.signIn {
    font-size: 0.8rem;
    color:rgb(232, 222, 210);
}
.signLink {
    color:rgba(58, 115, 76, 0.8);
}
.check1, .check2 {
    width: 1rem;
}